html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #f8f9fd;
}

.wrapper {
  width: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and(max-width: 992px) {
    max-width: 720px;
  }
  @media screen and(max-width: 768px) {
    max-width: 540px;
  }
  @media screen and(max-width: 578px) {
    max-width: 100%;
  }
}

.text {

}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  font-weight: 700;
  padding-bottom: 8px;
}

.input {
  height: 48px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
  font-size: 16px;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;

  &::placeholder {
    color: #ced4da;
    font-weight: 300;
  }
}

