html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
}

button{
  justify-content: center;
  align-items: initial;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border-radius: 50px;
  font-size: 15px;
  padding: 10px 20px;
  height: 48px;
  border: 1px solid #f35588;
  background: -webkit-linear-gradient(
                  -45deg
          , #f75959 0%, #f35587 100%);
  background: -o-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
  background: -ms-linear-gradient(-45deg, #f75959 0%, #f35587 100%);
  background: -webkit-linear-gradient(
                  315deg
          , #f75959 0%, #f35587 100%);
  background: -o-linear-gradient(315deg, #f75959 0%, #f35587 100%);
  background: linear-gradient(
                  135deg
          , #f75959 0%, #f35587 100%);
}